################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RedisExemplo/.vs/RedisExemplo
/RedisExemplo/bin/Debug/net5.0
/RedisExemplo/obj
